@{
    ViewData["Title"] = "Groupes";
}

<h1>Groupes</h1>
<ul>
    @foreach (Groups group in Model.groups)
    {
        <li>@group.Name (@group.Belong.Count): @group.Description</li>
    }
</ul>
<form action="Groups/Create" method="post">
    <label for="newgroup">Nouveau groupe: </label>
    <input type="text" id="newgroup" name="newgroup" />
    <input id="cmdNew" type="submit" class="btn btn-info" value="Créer" disabled />
    <span id="errgrp" class="text-danger hidden">Ce groupe existe déjà !!!</span>
</form>