@model CountryViewModel
@{
    ViewData["Title"] = "Pays";
}

<h1>Pays</h1>
<ul>
    @foreach (Countries country in Model.countries)
    {
        <li>@country.Name, indicatif: +@country.Dialcode</li>
    }
</ul>